*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

.card {
  margin: 3rem auto;
  width: 370px;
  background-color: #283e50;
  color: #fff;

  line-height: 1.4rem;
}

.picture img {
  width: 100%;
}

.text {
  margin-top: 2rem;
  text-align: center;
}

.heading {
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

.text p {
  margin-top: 1.5rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.buttons {
  margin-top: 1.5rem;
}

.button a {
  padding: 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
}

.button--rules a:link,
.button--rules a:visited {
  background-color: #1fcca4;
}
.button--rules a:hover,
.button--rules a:hover {
  background-color: #1cbb96;
}

.button--play a:link,
.button--play a:visited {
  background-color: #0197f6;
}
.button--plays a:hover,
.button--play a:hover {
  background-color: #0090e9;
}
