*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

/* index.html styles */
.card {
  margin: 3rem auto;
  width: 370px;
  background-color: #283e50;
  color: #fff;
  line-height: 1.4rem;
  border-radius: 5px 5px 0 0;
}

.picture img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.text {
  margin-top: 2rem;
  text-align: center;
}

.heading {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.text p {
  margin-top: 1.5rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.buttons {
  margin-top: 1.5rem;
}

.button a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
}

.button--green a:link,
.button--green a:visited {
  background-color: #1fcca4;
}
.button--green a:hover,
.button--green a:active {
  background-color: #1cbb96;
}

.button--blue a:link,
.button--blue a:visited {
  background-color: #0197f6;
}
.button--blue a:hover,
.button--blue a:active {
  background-color: #0090e9;
}

/* hra.html styles */

.game {
  margin: 1rem auto;
  max-width: 80vmin;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.heading--player {
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

.icons {
  display: inline-block;
  display: flex;
  border-radius: 5px;
  gap: 0.5rem;
}

.icons svg {
  max-width: 90%;
}

.button-icon a {
  border-radius: 8px;
  padding: 0.5rem;
}

.game__grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1 / 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.square {
  background-color: rgba(255, 231, 239, 0.485);
  border: 1px solid #000;
}

button.square:hover,
button.square:focus {
  cursor: pointer;
  background-color: rgba(255, 231, 239, 0.716);
}

/* classes for JS */

.board__field--circle {
  background-image: url(images/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.board__field--cross {
  background-image: url(images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}
